* {margin:0;padding:0;}
#body{
font-family:Arial;
font-size:14px;
line-height:20px;
color:#000;
background:#191313;

    background-image: url("image/bg.jpg");
    background-color: #cccccc;


}
		
.main {width:960px;margin:20px auto;display:block;overflow:hidden;}
.header {}
.header img{width:960px;height: 270px;} 

#navMenu{
	padding:0;
	margin:0;
margin-top:10px;
	}
#navMenu ul{
	
	padding:0;
	margin:0;
	line-height:32px;
	list-style:none;
		
	}
#navMenu li{
	
	padding:0;
	margin:0;
	float:left;
	position:relative;
	background:#999;
		
	}
#navMenu ul li a{
	
	text-align:center;
    font-family:"Comic Sans MS", cursive;
	text-decoration:none;
	height:30px;
	width:150px;
	display:block;
	color:#FFF;
	border:2px solid #039;
	text-shadow:1px 1px 1px #000;
	
}
#navMenu ul ul{
	position:absolute;
	visibility:hidden;
	top:30px;
	}
#navMenu ul li:hover li{
	
	visibility:visible;
		text-decoration:none;
	}
	/****************************************************/
	
#navMenu li:hover{
	background:#36F;}

#navMenu ul li:hover ul li a:hover{
	background:#ccc;
	color:#000;

	}

	.slider {width:960px;margin-top:100px}
.slider_text {color: #FFFFFF;
line-height: 35px;
margin-left: 221px;
margin-top: 63px;}
.slider_text h1 {color: #0B5FB9;
font-size: 46px;
line-height: 45px;}
.clearFloat{
	clear:both;
	margin:0;
	padding:0;
	}
	.maincontent {overflow:hidden;margin-top:30px}
.maincontent h2{margin-bottom:15px}
.content {float:left;width:600px;margin-right:30px;}
.sidebar {float:right;width:330px;}

.footer {background:#333;color:#fff;margin-top:30px;padding:10px;text-align:center}
